:root {
  // Colors
  --base-color-black-100: #1b2021;
  --base-color-black-200: #2e3738;
  --base-color-white-100: #f6f3f7;
  --base-color-red-100: #c6362f;
  --base-color-red-200: #d45049;
  --base-color-orange-10: #130501;
  --base-color-orange-100: #f6511d;
  --base-color-orange-200: #f8764f;
  --base-color-purple-100: #171738;
  --base-color-purple-200: #2e1760;
  --base-color-ash-100: #d0c2d6;
  --base-color-ash-200: #ececf7;
  --base-color-shadow-black-100: #13050140;
  --base-color-shadow-orange-100: #f6511d40;

  // Fonts
  --base-font-family-fraktur: "UnifrakturMaguntia", serif;
  --base-font-family-serif: "Alegreya", serif;

  // Durations
  --base-duration-100: 200ms;
  --base-duration-50: 100ms;
  --base-duration-25: 50ms;
}
