:root {
  // Colors
  --base-color-char-100: #001011;
  --base-color-ash-100: #242023;
  --base-color-flame-100: #f6511d;
  --base-color-flame-200: #f8764f;
  --base-color-sulfur-100: #fffcd9;
  --base-color-shadow-char-100: #13050140;
  --base-color-shadow-flame-100: #f6511d40;

  // Fonts
  --base-font-family-fraktur: "UnifrakturMaguntia", serif;
  --base-font-family-serif: "Alegreya", serif;

  // Durations
  --base-duration-500: 1000ms;
  --base-duration-100: 200ms;
  --base-duration-50: 100ms;
  --base-duration-25: 50ms;
}
