:root {
  // Colors
  --theme-color-background-100: var(--base-color-black-100);
  --theme-color-background-200: var(--base-color-black-200);
  --theme-color-primary-100: var(--base-color-red-100);
  --theme-color-primary-200: var(--base-color-red-200);
  --theme-color-secondary-100: var(--base-color-ash-100);
  --theme-color-secondary-200: var(--base-color-ash-200);
  --theme-color-accent-active-100: var(--base-color-orange-100);
  --theme-color-accent-active-200: var(--base-color-orange-200);
  --theme-color-detail-100: var(--base-color-purple-100);
  --theme-color-detail-200: var(--base-color-purple-200);
  --theme-color-accent-inactive-100: var(--base-color-orange-10);
  --theme-color-text-background: var(--base-color-white-100);
  --theme-color-text-primary: var(--base-color-black-100);
  --theme-color-text-secondary: var(--base-color-black-100);

  // Fonts
  --theme-font-display-100: 2.625rem/1.5 var(--base-font-family-fraktur);
  --theme-font-display-200: 3.25rem/1.5 var(--base-font-family-fraktur);
  --theme-font-heading-100: 700 1.25rem/1.5 var(--base-font-family-serif);
  --theme-font-heading-200: 700 1.625rem/1.5 var(--base-font-family-serif);
  --theme-font-heading-300: 700 2.125rem/1.5 var(--base-font-family-serif);
  --theme-font-copy-100: 1rem/1.2 var(--base-font-family-serif);
  --theme-font-copy-75: 0.75rem/1.2 var(--base-font-family-serif);
  --theme-font-action-100: 600 1.25rem/1 var(--base-font-family-serif);
  --theme-font-action-75: 600 1rem/1 var(--base-font-family-serif);

  --theme-font-display-gutter: var(--theme-spacing-200);
  --theme-font-heading-gutter: var(--theme-spacing-100);
  --theme-font-copy-gutter: var(--theme-spacing-150);

  // Spacing
  --theme-spacing-25: 0.25rem;
  --theme-spacing-50: 0.5rem;
  --theme-spacing-100: 1rem;
  --theme-spacing-150: 1.5rem;
  --theme-spacing-200: 2rem;
  --theme-spacing-300: 3rem;

  // Borders
  --theme-border-width-50: 4px;
  --theme-border-width-100: 8px;
  --theme-border-radius-50: 4.1px;
  --theme-border-radius-100: 8px;

  // Shadow
  --theme-shadow-100: 0 0 5px var(--base-color-shadow-black-100);
  --theme-fire-100: 0 0 5px var(--base-color-shadow-orange-100);
}
