:root {
  // Colors
  --theme-color-background-100: var(--base-color-char-100);
  --theme-color-background-200: var(--base-color-ash-100);
  --theme-color-primary-100: var(--base-color-flame-100);
  --theme-color-primary-200: var(--base-color-flame-200);
  --theme-color-ornaments-100: var(--base-color-ash-200);
  --theme-color-text-100: var(--base-color-sulfur-100);
  --theme-color-text-200: var(--base-color-sulfur-200);
  --theme-color-background-inverted-100: var(--base-color-sulfur-100);
  --theme-color-background-inverted-200: var(--base-color-sulfur-200);
  --theme-color-text-inverted-100: var(--base-color-char-100);
  --theme-color-text-inverted-200: var(--base-color-ash-100);

  // Fonts
  --theme-font-display-100: 2.625rem/1.5 var(--base-font-family-fraktur);
  --theme-font-display-200: 3.25rem/1.5 var(--base-font-family-fraktur);
  --theme-font-heading-100: 700 1.25rem/1.5 var(--base-font-family-serif);
  --theme-font-heading-200: 700 1.625rem/1.5 var(--base-font-family-serif);
  --theme-font-heading-300: 700 2.125rem/1.5 var(--base-font-family-serif);
  --theme-font-copy-100: 1rem/1.2 var(--base-font-family-serif);
  --theme-font-copy-75: 0.75rem/1.2 var(--base-font-family-serif);
  --theme-font-action-100: 600 1.25rem/1 var(--base-font-family-serif);
  --theme-font-action-75: 600 1rem/1 var(--base-font-family-serif);

  --theme-font-display-gutter: var(--theme-spacing-200);
  --theme-font-heading-gutter: var(--theme-spacing-100);
  --theme-font-copy-gutter: var(--theme-spacing-150);

  // Spacing
  --theme-spacing-25: 4px;
  --theme-spacing-50: 8px;
  --theme-spacing-100: 16px;
  --theme-spacing-150: 24px;
  --theme-spacing-200: 32px;
  --theme-spacing-300: 48px;

  // Borders
  --theme-border-width-50: 1px;
  --theme-border-width-100: 2px;
  --theme-border-radius-50: 5px;
  --theme-border-radius-100: 10px;

  // Shadow
  --theme-shadow-100: 0 0 5px var(--base-color-shadow-char-100);
  --theme-fire-100: 0 0 10px var(--base-color-shadow-flame-100);
}
