.palantir-button {
  cursor: pointer;
  background-color: transparent;
  color: var(--theme-color-text-inverted-100);
  border: none;
  padding: 0 var(--theme-spacing-50);
  filter: drop-shadow(var(--theme-shadow-100));
  transition: filter var(--base-duration-50) ease-in-out;
  position: relative;

  &:hover {
    filter: drop-shadow(var(--theme-fire-100));

    .palantir-button__inner {
      border-color: var(--theme-color-primary-100);
    }
  }

  &:active {
    .palantir-button__middle, .palantir-button__side {
      background-color: var(--theme-color-background-inverted-200);
    }
  }

  &__middle {
    width: 100%;
    display: inline-block;
    padding: var(--theme-spacing-50) 0;
    background-color: var(--theme-color-background-inverted-100);
  }

  &__inner {
    width: 100%;
    border-color: var(--theme-color-text-inverted-100);
    transition: border-color var(--base-duration-50) ease-in-out;
    display: inline-block;
    padding: var(--theme-spacing-50);
    border-top: var(--theme-border-width-50) dashed;
    border-bottom: var(--theme-border-width-50) dashed;
  }

  &__side {
    display: inline-block;
    background-color: var(--theme-color-background-inverted-100);
    height: 100%;
    width: var(--theme-spacing-50);
    position: absolute;
    top: 0;

    &--left {
      left: 0;
      clip-path: polygon(0 50%, 100% 100%, 100% 0);
    }

    &--right {
      right: 0;
      clip-path: polygon(100% 50%, 0 100%, 0 0);
    }
  }

  &--secondary {
    color: var(--theme-color-text-100);
    filter: none;
    padding: 0;

    &:hover {
      filter: none;
    }

    &:active {
      color: var(--theme-color-text-200);

      .palantir-button__middle, .palantir-button__side {
        background-color: transparent;
      }
    }

    .palantir-button__middle {
      background-color: transparent;
    }

    .palantir-button__inner {
      border-color: var(--theme-color-text-100);
    }
  }
}
