@use "../../styles/utils";

.palantir-button {
  @include utils.focus-outline;

  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0 var(--theme-spacing-50);
  filter: drop-shadow(var(--theme-shadow-100));
  transition: filter var(--base-duration-100) ease-in-out;
  position: relative;

  &__middle {
    width: 100%;
    display: inline-block;
    padding: var(--theme-spacing-50) 0;
  }

  &__inner {
    width: 100%;
    border-top: var(--theme-border-width-50) dashed;
    border-bottom: var(--theme-border-width-50) dashed;
    transition: border-color var(--base-duration-50) ease-in-out;
    display: inline-block;
    padding: var(--theme-spacing-50);
  }

  &__side {
    display: inline-block;
    height: 100%;
    width: var(--theme-spacing-50);
    position: absolute;
    top: 0;

    &--left {
      left: 0;
      clip-path: polygon(0 50%, 100% 100%, 100% 0);
    }

    &--right {
      right: 0;
      clip-path: polygon(100% 50%, 0 100%, 0 0);
    }
  }

  &--primary {
    color: var(--theme-color-text-inverted-100);

    &:hover {
      filter: drop-shadow(var(--theme-fire-200));

      .palantir-button__inner {
        border-color: var(--theme-color-primary-100);
      }
    }

    &:active {
      .palantir-button__middle, .palantir-button__side {
        background-color: var(--theme-color-background-inverted-200);
      }
    }

    .palantir-button__middle, .palantir-button__side {
        background-color: var(--theme-color-background-inverted-100);
    }

    .palantir-button__inner {
      border-color: var(--theme-color-text-inverted-100);
    }
  }

  &--secondary {
    color: var(--theme-color-text-100);


    &:hover {
      filter: drop-shadow(var(--theme-fire-200));
    }

    &:active {
      .palantir-button__middle, .palantir-button__side {
        background-color: var(--theme-color-background-300);
      }
    }

    .palantir-button__middle, .palantir-button__side {
        background-color: var(--theme-color-background-200);
    }

    .palantir-button__inner {
      border-color: transparent;
    }
  }
}
