.palantir-divider {
  $overflow: var(--theme-spacing-75);

  display: flex;
  align-items: center;
  padding: 0 $overflow;
  margin: var(--theme-spacing-150) calc(-1 * $overflow);
  position: relative;

  &__hr {
    border: none;
    flex: 1;
    height: var(--theme-border-width-100);
    background-color: var(--theme-color-ornaments-100);
  }

  &__arrow {
    position: absolute;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
      transform: scale(-1, 1);
    }
  }
}
