.palantir-text-field {
  display: inline-block;
  font: var(--theme-font-copy-100);
  color: var(--theme-color-text-100);
  background-color: transparent;
  border: none;
  padding: var(--theme-spacing-50);
  border-bottom: var(--theme-color-text-100) var(--theme-border-width-100) dashed;
}
