.palantir-input-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "label input";
  gap: var(--theme-spacing-200);
  align-items: center;
  padding: var(--theme-spacing-100) 0;

  input {
    grid-area: input;
    justify-self: start;
  }

  &__label {
    grid-area: label;
    justify-self: right;
    width: fit-content;
    text-align: right;
    font: var(--theme-font-action-75);
  }

  &__error {
    font: var(--theme-font-copy-75);
  }

  &:has(input:invalid) .palantir-input-row__label {
    color: var(--theme-color-error-200);
  }

  &:has(input:disabled) .palantir-input-row__label {
    color: var(--theme-color-background-disabled);
  }
}
