$popupWidth: 500px;

body {
  min-width: $popupWidth;
}

.popup__button {
  width: 100%;
}

.popup__buttons {
  display: flex;
  flex-direction: column;
  gap: var(--theme-spacing-150);
}

#popup__content {
  width: 100%;
  text-align: center;
}

#popup__start-session-form {
  width: 100%;
}
